# APP INFO
APP_NAME=Alarmion
PACKAGE_NAME=com.qwertypnks.alarmion
BUNDLE_UID=com.qwertypnks.alarmion.main
IS_MASTER_BUNDLE=yes
APP_BUNDLE_SECRET=hellohello
APP_OAUTH_SECRET=hellobye
APP_OAUTH_PORT=4155
APP_OAUTH_PREFIX=/oauth
LOCAL_DOMAIN=alarmion.ddns.net
LOCAL_DOMAIN_ALIAS=
DEV_DOMAIN=alarmion.ddns.net
DEV_DOMAIN_ALIAS=
STAGE_DOMAIN=
STAGE_DOMAIN_ALIAS=
PROD_DOMAIN=alarmion.ddns.net
PROD_DOMAIN_ALIAS=
CONFIG_PATH=./config

# DATABASE
DB_ROOT_PASSWORD=rootpass
DB_HOST=localhost
DB_USERNAME=alarmion
DB_PASSWORD=dbpass
DB_NAME=alarmion
DB_CONTROL_PANEL_NAME=sotaoi_control_panel
DB_MONGO_PORT=27017
DB_MYSQL_PORT=3306
DB_MIGRATIONS_PATH=./database/migrations
DB_SEEDS_PATH=./database/seeds

# LOGGER
LOG_PATH=./logs

# SSL
GREENLOCK_EXECUTION=autorun
SSL_MAINTAINER=qwertypnk@protonmail.com
SSL_CERT=../packages/sotaoi-omni/certs/cert.pem
SSL_KEY=../packages/sotaoi-omni/certs/privkey.pem
SSL_CA=../packages/sotaoi-omni/certs/bundle.pem
SSL_CHAIN=../packages/sotaoi-omni/certs/chain.pem
SSL_FCHAIN=../packages/sotaoi-omni/certs/fullchain.pem
